@error-red: #FFCDCD;

.form {
    .form-group {
        margin-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        .control-label {
            flex: 0 0 20%;
            padding-right: 10px;
            text-align: right;
            padding-top: 6px;
            @media screen and (max-width: 680px) {
                flex: 0 0 28%;
            }
            @media screen and (max-width: 520px) {
                padding-top: 9px;
                flex: 0 0 34%;
            }
            @media screen and (max-width: 400px) {
                flex: 0 0 40%;
            }
        }
        .form-control {
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            flex: 0 0 50%;
            &.small {
                flex: 0 0 20%;
                @media screen and (max-width: 680px) {
                    flex: 0 0 26%;
                }
            }
            @media screen and (max-width: 520px) {
                height: 40px;
                flex: 0 0 60%;
                &.small {
                    flex: 0 0 30%;
                }
            }
        }
        .control-label-right {
            text-align: left;
            padding-left: 10px;
            font-size: 12px;
            margin: 0;
            line-height: 35px;
            flex: 0 1 50%;
            &.check {
                line-height: normal;
                margin-top: 10px;
            }
            @media screen and (max-width: 680px) {
                flex: 0 0 28%;
            }
            @media screen and (max-width: 520px) {
                padding-top: 9px;
                flex: 0 0 34%;
            }
            @media screen and (max-width: 400px) {
                flex: 0 0 40%;
            }
        }
        textarea {
            font-size: inherit;
            font-family: inherit;
            min-height: 55px !important;
        }
        .form-radio-buttons {
            flex: 0 0 50%;
            padding-top: 5px;
        }
    }
    .form-buttons, h2, h3 {
        margin-left: 20%;
        margin-bottom: 20px;
    }
    h4 {
        margin-left: 20%;
    }
    ul, ol {
        margin-bottom: 20px;
        margin-left: 20%;
        li:hover {
            cursor: pointer;
        }
        ul {
            margin-left: 0 !important;
        }
    }
    ol li {
        margin-bottom: 20px;
    }
    ul li {
        margin-bottom: 0px !important;
    }
    .checkbox {
        margin-top: 10px;
    }
    .ValidationError {
        flex: 0 0 100%;
        .validation-error {
            background-color: @error-red;
            padding: 5px 10px;
            width: 50%;
            margin-left: 20%;
        }
    }
}
